.container {
    margin: 0 25px;
    margin-bottom: 30px;
    width: fit-content;
    > hr {
        height: 5px;
        border-radius: 5px;
    }
}

.singleCentrefoldContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    box-shadow: 5px 5px 12px #888;

    &:hover {
        transform: scale(1.15);
        z-index: 10;
        cursor: pointer;
    }
}

.centrefoldsContainer {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-grow: 0;
    gap: 20px;
    max-width: calc(3 * 250px);
}

[data-theme="dark"] .singleCentrefoldContainer {
    box-shadow: unset;
}
