# Created by Vercel CLI
VERCEL="1"
VERCEL_ENV="development"
VERCEL_URL=""
VERCEL_GIT_PROVIDER=""
VERCEL_GIT_REPO_SLUG=""
VERCEL_GIT_REPO_OWNER=""
VERCEL_GIT_REPO_ID=""
VERCEL_GIT_COMMIT_REF=""
VERCEL_GIT_COMMIT_SHA=""
VERCEL_GIT_COMMIT_MESSAGE=""
VERCEL_GIT_COMMIT_AUTHOR_LOGIN=""
VERCEL_GIT_COMMIT_AUTHOR_NAME=""

NEXT_PUBLIC_BASE_URL= "http://localhost:3000"
LEGO_API_URL= "https://lego.abakus.no"

# These need to set for the project to run
# Ask Viljan for the values/file
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

LEGO_OAUTH_CLIENT_ID=
LEGO_OAUTH_CLIENT_SECRET=
