.searchBox {
  border: 2px solid grey;
  border-radius: 5px;
  width: 25vw;
  height: 40px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

@media only screen and (max-width: 1000px) {
  .searchBox {
    width: 40vw;
  }
}

@media only screen and (max-width: 600px) {
  .searchBox {
    width: 60vw;
  }
}
.searchBox > input {
  width: 100%;
  min-width: 0;
  height: 100%;
  border: none;
}

.end {
  display: flex;
  align-items: center;
  user-select: none;
}
