.app {
  position: relative;
  min-height: 95vh;
  /* text-align: center; */
  font-family: helvetica neue, Arial, Helvetica, Geneva, sans-serif;
}

.header {
  position: relative;
  padding: 0px 10px;
  max-width: 700px;
  margin: 30px auto;
}
