.readmeLogo {
  display: grid;
  grid-template-columns: 1fr;
}

.logoHvit {
  z-index: 0;
}

.logoSort,
.logoHvit {
  transition: opacity 0.3s ease;
  position: relative;
  grid-area: 1 / 1;
}

[class="dark"] .logoHvit {
  opacity: 1;
}

[class="dark"] .logoSort {
  opacity: 0;
}
