.readmeLogo {
  display: grid;
  grid-template-columns: repeat(1fr);
}

.readmeLogo > img {
  transition: opacity 0.3s ease;
}

.logoHvit {
  grid-column: 1;
  grid-row: 1;
  z-index: 0;
}

.logoSort {
  grid-column: 1;
  grid-row: 1;
}

[data-theme="dark"] .logoHvit {
  opacity: 1;
}

[data-theme="dark"] .logoSort {
  opacity: 0;
}
