.articleList {
  width: 60vw;
  max-width: 1000px;
  margin: auto;
}

.pagination {
  margin: auto;
  padding: 10px 0;
  width: 60vw;
  position: relative;
  display: flex;
  justify-content: space-around;
}

.pagination > button {
  width: 20vw;
  height: 45px;
  font-size: 1.25em;
}
