body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #fff;
  color: #333;
  transition: all 0.3s ease;
}

[data-theme="dark"] body {
  background-color: #1a1919;
  color: #999;
  transition: all 0.3s ease;
}

[data-theme="dark"] input {
  background-color: #282d33;
  color: #ffffff;
}

[data-theme="dark"] textarea {
  background-color: #282d33;
  color: #ffffff;
}

[data-theme="dark"] input::placeholder {
  color: #ffffff5e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
