$link-color-light: rgba(0, 0, 0, 0.5);
$link-color-hover-light: rgba(0, 0, 0, 0.7);
$link-color-active-light: rgba(0, 0, 0, 0.9);

$link-color-dark: rgba(255, 255, 255, 0.55);
$link-color-hover-dark: rgba(255, 255, 255, 0.75);
$link-color-active-dark: white;
